<h3><i class="fas fa-book-reader"></i> Native StoryBooks</h3>
<div class="section">
    <p class="lead">Create public or private traditional stories about your tribe</p>
</div>
<div class="divider"></div>
<div class="section">
    <form action="/register" method="POST">
        <input class="text-black" type="text" name="userName" placeholder="User Name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <input list="tribalAffiliation" name="tribalAffiliation" placeholder="Tribal Affiliation">
        <datalist id="tribalAffiliation">
            <option value="Agua Caliente Band of Cahuilla Indians of the Agua Caliente Indian Reservation">
            <option value="Alturas Indian Rancheria">
            <option value="Augustine Band of Cahuilla Indians">
            <option value="Bear River Band of the Rohnerville Rancheria">
            <option value="Berry Creek Rancheria of Maidu Indians of California">
            <option value="Big Lagoon Rancheria">
            <option value="Big Pine Band Paiute Tribe of the Owens Valley">
            <option value="Big Sandy Rancheria of Western Mono Indians of California">
            <option value="Big Valley Band of Pomo Indians of the Big Valley Rancheria">
            <option value="Bishop Pauite Tribe">
            <option value="Blue Lake Rancheria">
            <option value="Bridgeport Indian Colony">
            <option value="Buena Vista Rancheria of Miwok Indians of California">
            <option value="Cabazon Band of  Mission Indians">
            <option value="Cachil DeHe Band of Wintun Indians of the Colusa Indian Community of the Colusa Rancheria">
            <option value="Cahuilla Band of Mission Indians of the Cahuilla Reservation">
            <option value="Cahto Indian Tribe of the Laytonville Rancheria">
            <option value="California Valley Miwok Tribe ">
            <option value="Campo Band of Diegueño Mission Indians of the Campo Indian Reservation">
            <option value="Capitan Grande Band of Diegueño Mission Indians of California">
            <option value="Barona Group of Capitan Grande Band of Mission Indians of the Barona Reservation">
            <option
                value="Viejas (Baron Long) Group of Capitan Grande Band of Mission Indians of the Viejas Reservation">
            <option value="Cedarville Rancheria">
            <option value="Chemehuevi Indian Tribe of the Chemehuevi Reservation">
            <option value="Cher-Ae Heights Indian Community of the Trinidad Rancheria">
            <option value="Chicken Ranch Rancheria of Miwok Indians of California">
            <option value="Cloverdale Rancheria of Pomo Indians of California">
            <option value="Cold Springs Rancheria of Mono Indians of California">
            <option
                value="Colorado River Indian Tribes of the Colorado River Indian Reservation (Arizona and California)">
            <option value="Cortina Indian Rancheria of Wintun Indians of California">
            <option value="Coyote Valley Band of Pomo Indians of California">
            <option value="Death Valley Timbi-Sha Shoshone Tribe">
            <option value="Dry Creek Rancheria of Pomo Indians">
            <option value="Elem Indian Colony of Pomo Indians of the Sulphur Bank Rancheria">
            <option value="Elk Valley Rancheria">
            <option value="Enterprise Rancheria of Maidu Indians of California">
            <option value="Ewiiaapaayp Band of Kumeyaay Indians">
            <option value="Federated Indians of Graton Rancheria">
            <option value="Fort Bidwell Indian Community of the Fort Bidwell Reservation of California">
            <option value="Fort Independence Indian Community of Paiute Indians of the Fort Independence Reservation">
            <option value="Fort Mojave Indian Tribe (Arizona, California and Nevada)">
            <option value="Greenville Rancheria">
            <option value="Grindstone Indian Rancheria of Wintun-Wailaki Indians of California">
            <option value="Guidiville Rancheria of California">
            <option value="Habematolel Pomo of Upper Lake">
            <option value="Hoopa Valley Tribe">
            <option value="Hopland Band of Pomo Indians">
            <option value="Inaja Band of Diegueño Mission Indians of the Inaja and Cosmit Reservation">
            <option value="Ione Band of Miwok Indians of California">
            <option value="Jackson Band of Miwuk Indians">
            <option value="Jamul Indian Village of California">
            <option value="Karuk Tribe">
            <option value="Kashia Band of Pomo Indians of the Stewart’s Point Rancheria">
            <option value="Koi Nation of Northern California">
            <option value="La Jolla Band of Luiseño Indians">
            <option value="La Posta Band of Diegueño Mission Indians of the La Posta Indian Reservation">
            <option value="Lone Pine Paiute-Shoshone Tribe">
            <option value="Los Coyotes Band of Cahuilla & Cupeno Indians">
            <option value="Lytton Rancheria of California">
            <option value="Manchester Band of Pomo Indians of the Manchester Rancheria">
            <option value="Manzanita Band of Diegueño Mission Indians of the Manzanita Reservation">
            <option value="Mechoopda Indian Tribe of Chico Rancheria">
            <option value="Mesa Grande Band of Diegueño Mission Indians of the Mesa Grande Reservation">
            <option value="Middletown Rancheria of Pomo Indians of California">
            <option value="Mooretown Rancheria of Maidu Indians of California">
            <option value="Morongo Band of Cahuilla Mission Indians ">
            <option value="Northfork Rancheria of Mono Indians of California">
            <option value="Pala Band of Luiseño Mission Indians of the Pala Reservation">
            <option value="Paskenta Band of Nomlaki Indians of California">
            <option value="Pauma Band of Luiseño Mission Indians of the Pauma & Yuima Reservation">
            <option value="Pechanga Band of Luiseño Mission Indians of the Pechanga Reservation">
            <option value="Picayune Rancheria of Chukchansi Indians of California">
            <option value="Pinoleville Pomo Nation (formerly the Pinoleville Rancheria of Pomo Indians of California)">
            <option
                value="Pit River Tribe (includes XL Ranch, Big Bend, Likely, Lookout, Montgomery Creek and Roaring Creek Rancherias)">
            <option value="Potter Valley Tribe (formerly the Potter Valley Rancheria of Pomo Indians of California)">
            <option value="Quartz Valley Indian Community of the Quartz Valley Reservation of California">
            <option value="Quechan Tribe of the Fort Yuma Indian Reservation (Arizona and California)">
            <option value="Ramona Band of Cahuilla">
            <option value="Redding Rancheria">
            <option
                value="Redwood Valley or Little River Band of Pomo Indians of the Redwood Valley Rancheria California">
            <option value="Resighini Rancheria">
            <option value="Rincon Band of Luiseño Mission Indians of the Rincon Reservation">
            <option value="Robinson Rancheria">
            <option value="Round Valley Indian Tribes, Round Valley Reservation">
            <option value="San Manual Band of Serrano Mission Indians of the San Maual Reservation">
            <option value="San Pasqual Band of Diegueño Mission Indians of California">
            <option value="Santa Rosa Indian Community of the Santa Rosa Rancheria">
            <option
                value="Santa Rosa Band of Cahuilla Indians (formerly the Santa Rosa Band of Cahuilla Mission Indians of the Santa Rosa Reservation)">
            <option value="Santa Ynez Band of Chumash Mission Indians of the Santa Ynez Reservation">
            <option
                value="Lipay Nation of Santa Ysabel (Previously listed as the Santa Ysabel Band of Diegueño Mission Indians of the Santa Ysabel Reservation)">
            <option value="Scotts Valley Band of Pomo Indians of California">
            <option value="Sheep Ranch Rancheria of Miwok Indians">
            <option value="Sherwood Valley Rancheria of Pomo Indians of California">
            <option value="Shingle Springs Band of Miwok Indians, Shingle Springs Rancheria (Verona Tract)">
            <option value="Soboba Band of Luiseño Indians">
            <option value="Susanville Indian Rancheria">
            <option
                value="Sycuan Band of the Kumeyaay Nation (formerly the Sycuan Band of Diegueno Mission Indians of California)">
            <option value="Table Mountain Rancheria of California">
            <option value="Tejon Indian Tribe">
            <option value="Tolowa Dee-ni' Nation">
            <option value="Torres-Martinez Desert Cahuilla Indians">
            <option value="Tule River Indian Tribe of the Tule River Reservation">
            <option value="Tuolumne Band of Miwok Indians of the Tuolumne Rancheria of California">
            <option value="Twenty-Nine Palms Band of Mission Indians of California">
            <option value="United Auburn Indian Community of the Auburn Rancheria of California">
            <option value="Upper Lake Band of Pomo Indians">
            <option value="Utu Utu Gwaitu Paiute Tribe of the Benton Paiute Reservation">
            <option
                value="Washoe Tribe (Carson Colony, Dresslerville Colony, Woodfords Community, Stewart Community and Washoe Ranches) (California and Nevada)">
            <option value="Wilton Rancheria">
            <option value="Wiyot Tribe (formerly the Table Bluff Reservation-Wiyot Tribe)">
            <option value="Yocha Dehe Wintun Nation">
            <option value="Yurok Tribe of the Yurok Reservation">
            <option value="Poarch Band of Creeks">
            <option value="Native Village of Afognak (formerly the Village of Afognak)">
            <option value="Agdaagux Tribe of King Cove">
            <option value="Native Village of Akhiok">
            <option value="Akiachak Native Community">
            <option value="Akiak Native Community">
            <option value="Native Village of Akutan">
            <option value="Village of Alakanuk">
            <option value="Alatna Village">
            <option value="Native Village of Aleknagik">
            <option value="Algaaciq Native Village (St. Mary's)">
            <option value="Allakaket Village">
            <option value="Native Village of Ambler">
            <option value="Village of Anaktuvuk Pass">
            <option value="Yupiit of Andreafski">
            <option value="Angoon Community Association">
            <option value="Village of Aniak">
            <option value="Anvik Village">
            <option value="Arctic Village (See Native Village of Venetie Tribal Government)">
            <option value="Asa'carsarmiut Tribe">
            <option value="Native Village of Atka">
            <option value="Village of Atmautluak">
            <option value="Atqasuk Village (Atkasook)">
            <option value="Native Village of Barrow Inupiat Traditional Government">
            <option value="Beaver Village">
            <option value="Native Village of Belkofski">
            <option value="Village of Bill Moore's Slough">
            <option value="Birch Creek Tribe">
            <option value="Native Village of Brevig Mission">
            <option value="Native Village of Buckland">
            <option value="Native Village of Cantwell">
            <option value="Native Village of Chenega (aka Chanega)">
            <option value="Chalkyitsik Village">
            <option value="Cheesh-Na Tribe">
            <option value="Village of Chefornak">
            <option value="Chevak Native Village">
            <option value="Chickaloon Native Village">
            <option value="Chignik Bay Tribal Council">
            <option value="Native Village of Chignik Lagoon">
            <option value="Chignik Lake Village">
            <option value="Chilkat Indian Village (Klukwan)">
            <option value="Chilkoot Indian Association (Haines)">
            <option value="Chinik Eskimo Community (Golovin)">
            <option value="Native Village of Chitina">
            <option value="Native Village of Chuathbaluk (Russian Mission, Kuskokwim)">
            <option value="Chuloonawick Native Village">
            <option value="Circle Native Community">
            <option value="Village of Clarks Point">
            <option value="Native Village of Council">
            <option value="Craig Community Association">
            <option value="Village of Crooked Creek">
            <option value="Curyung Tribal Council">
            <option value="Native Village of Deering">
            <option value="Native Village of Diomede (aka Inalik)">
            <option value="Village of Dot Lake">
            <option value="Douglas Indian Association">
            <option value="Native Village of Eagle">
            <option value="Native Village of Eek">
            <option value="Egegik Village">
            <option value="Eklutna Native Village">
            <option value="Native Village of Ekuk">
            <option value="Ekwok Village">
            <option value="Native Village of Elim">
            <option value="Emmonak Village">
            <option value="Evansville Village (aka Bettles Field)">
            <option value="Native Village of Eyak (Cordova)">
            <option value="Native Village of False Pass">
            <option value="Native Village of Fort Yukon">
            <option value="Native Village of Gakona">
            <option value="Galena Village (aka Louden Village)">
            <option value="Native Village of Gambell">
            <option value="Native Village of Georgetown">
            <option value="Native Village of Goodnews Bay">
            <option value="Organized Village of Grayling (aka Holikachuk)">
            <option value="Gulkana Village">
            <option value="Native Village of Hamilton">
            <option value="Healy Lake Village">
            <option value="Holy Cross Village">
            <option value="Hoonah Indian Association">
            <option value="Native Village of Hooper Bay">
            <option value="Hughes Village">
            <option value="Huslia Village">
            <option value="Hydaburg Cooperative Association">
            <option value="Igiugig Village">
            <option value="Villag">
            <option value="Inupiat Community of the Arctic Slope">
            <option value="Iqurmuit Traditional Council (formerly the Native Village of Russian Mission)">
            <option value="Ivanoff Bay Village">
            <option value="Kaguyak Village">
            <option value="Organized Village of Kake">
            <option value="Kaktovik Village (aka Barter Island)">
            <option value="Village of Kalskag">
            <option value="Village of Kaltag">
            <option value="Native Village of Kanatak">
            <option value="Native Village of Karluk">
            <option value="Organized Village of Kasaan">
            <option value="Kasigluk Traditional Elders Council (formerly the Native Village of Kasigluk)">
            <option value="Kenaitze Indian Tribe">
            <option value="Ketchikan Indian Corporation">
            <option value="Native Village of Kiana">
            <option value="King Island Native Community">
            <option value="King Salmon Tribe">
            <option value="Native Village of Kipnuk">
            <option value="Native Village of Kivalina">
            <option value="Klawock Cooperative Association">
            <option value="Native Village of Kluti Kaah (aka Copper Center)">
            <option value="Knik Tribe">
            <option value="Native Village of Kobuk">
            <option value="Kokhanok Village">
            <option value="Native Village of Kongiganak">
            <option value="Village of Kotlik">
            <option value="Native Village of Kotzebue">
            <option value="Native Village of Koyuk">
            <option value="Koyukuk Native Village">
            <option value="Organized Village of Kwethluk">
            <option value="Native Village of Kwigillingok">
            <option value="Native Village of Kwinhagak (aka Quinhagak)">
            <option value="Native Village of Larsen Bay">
            <option value="Levelock Village">
            <option value="Lime Village">
            <option value="Village of Lower Kalskag">
            <option value="Manley Hot Springs Village">
            <option value="Manokotak Village">
            <option value="Native Village of Marshall (aka Fortuna Ledge)">">
            <option value="Native Village of Mary's Igloo">">
            <option value="McGrath Native Village">
            <option value="Native Village of Mekoryuk">
            <option value="Mentasta Traditional Council">
            <option value="Metlakatla Indian Community, Annette Island Reserve">
            <option value="Native Village of Minto">
            <option value="Naknek Native Village">
            <option value="Native Village of Nanwalek (aka English Bay)">
            <option value="Native Village of Napaimute">
            <option value="Native Village of Napakiak">
            <option value="Native Village of Napaskiak">
            <option value="Native Village of Nelson Lagoon">
            <option value="Nenana Native Association">
            <option value="New Koliganek Village Council">
            <option value="New Stuyahok Village">
            <option value="Newhalen Village">
            <option value="Newtok Village">
            <option value="Native Village of Nightmute">
            <option value="Nikolai Village">
            <option value="Native Village of Nikolski">
            <option value="Ninilchik Village">
            <option value="Native Village of Noatak">
            <option value="Nome Eskimo Community">
            <option value="Nondalton Village">
            <option value="Noorvik Native Community">
            <option value="Northway Village">
            <option value="Native Village of Nuiqsut (aka Nooiksut)">
            <option value="Nulato Village">
            <option value="Nunakauyarmiut Tribe">
            <option value="Native Village of Nunam Iqua">
            <option value="Native Village of Nunapitchuk">
            <option value="Village of Ohogamiut">
            <option value="Village of Old Harbor">
            <option value="Orutsararmuit Native Village (aka Bethel)">
            <option value="Oscarville Traditional Village">
            <option value="Native Village of Ouzinkie">
            <option value="Native Village of Paimiut">
            <option value="Pauloff Harbor Village">
            <option value="Pedro Bay Village">
            <option value="Native Village of Perryville">
            <option value="Petersburg Indian Association">
            <option value="Native Village of Pilot Point">
            <option value="Pilot Station Traditional Village">
            <option value="Native Village of Pitka's Point">
            <option value="Platinum Traditional Village">
            <option value="Native Village of Point Hope">
            <option value="Native Village of Point Lay">
            <option value="Native Village of Port Graham">
            <option value="Native Village of Port Heiden">
            <option value="Native Village of Port Lions">
            <option value="Portage Creek Village (aka Ohgsenakale)">
            <option value="Pribilof Islands Aleut Communities of St. Paul & St. George Islands">
            <option value="Qagan Tayagungin Tribe of Sand Point Village">
            <option value="Qawalangin Tribe of Unalaska">
            <option value="Rampart Village">
            <option value="Village of Red Devil">
            <option value="Native Village of Ruby">
            <option
                value="Saint George Island (See Pribilof Islands Aleut Communities of St. Paul & St. George Islands)">
            <option value="Native Village of Saint Michael">
            <option value="Saint Paul Island (See Pribilof Islands Aleut Communities of St. Paul & St. George Islands)">
            <option value="Village of Salamatoff">
            <option value="Native Village of Savoonga">
            <option value="Organized Village of Saxman">
            <option value="Native Village of Scammon Bay">
            <option value="Native Village of Selawik">
            <option value="Seldovia Village Tribe">
            <option value="Shageluk Native Village">
            <option value="Native Village of Shaktoolik">
            <option value="Native Village of Shishmaref">
            <option value="Native Village of Shungnak">
            <option value="Sitka Tribe of Alaska">
            <option value="Skagway Village">
            <option value="Village of Sleetmute">
            <option value="Village of Solomon">
            <option value="South Naknek Village">
            <option value="Stebbins Community Association">
            <option value="Native Village of Stevens">
            <option value="Village of Stony River">
            <option value="Sun'aq Tribe of Kodiak (formerly the Shoonaq' Tribe of Kodiak)">
            <option value="Takotna Village">
            <option value="Native Village of Tanacross">
            <option value="Native Village of Tanana">
            <option value="Tangirnaq Native Village (formerly Lesnoi Village)">
            <option value="Native Village of Tatitlek">
            <option value="Native Village of Tazlina">
            <option value="Telida Village">
            <option value="Native Village of Teller">
            <option value="Native Village of Tetlin">
            <option value="Central Council of the Tlingit & Haida Indian Tribes">
            <option value="Traditional Village of Togiak">
            <option value="Tuluksak Native Community">
            <option value="Native Village of Tuntutuliak">
            <option value="Native Village of Tununak">
            <option value="Twin Hills Village">
            <option value="Native Village of Tyonek">
            <option value="Ugashik Village">
            <option value="Umkumiute Native Village">
            <option value="Native Village of Unalakleet">
            <option value="Native Village of Unga">
            <option value="Village of Venetie (See Native Village of Venetie Tribal Government)">
            <option value="Native Village of Venetie Tribal Government (Arctic Village and Village of Venetie)">
            <option value="Village of Wainwright">
            <option value="Native Village of Wales">
            <option value="Native Village of White Mountain">
            <option value="Wrangell Cooperative Association">
            <option value="Yakutat Tlingit Tribe">">
            <option value="Ak Chin Indian Community of the Maricopa (Ak Chin) Indian Reservation">
            <option value="Cocopah Tribe of Arizona">
            <option
                value="Colorado River Indian Tribes of the Colorado River Indian Reservation (Arizona and California)">
            <option value="Fort McDowell Yavapai Nation">
            <option value="Fort Mojave Indian Tribe (Arizona, California and Nevada)">
            <option value="Gila River Indian Community of the Gila River Indian Reservation">
            <option value="Havasupai Tribe of the Havasupai Reservation">
            <option value="Hopi Tribe of Arizona">
            <option value="Hualapai Indian Tribe of the Hualapai Indian Reservation">
            <option value="Kaibab Band of Paiute Indians of the Kaibab Indian Reservation">
            <option value="Navajo Nation (Arizona, New Mexico and Utah)">
            <option value="Pascua Yaqui Tribe of Arizona">
            <option value="Quechan Tribe of the Fort Yuma Indian Reservation (Arizona and California)">
            <option value="Salt River Pima-Maricopa Indian Community of the Salt River Reservation">
            <option value="San Carlos Apache Tribe of the San Carlos Reservation">
            <option value="San Juan Southern Paiute Tribe of Arizona">
            <option value="Tohono O’odham Nation of Arizona">
            <option value="Tonto Apache Tribe of Arizona">
            <option value="White Mountain Apache Tribe of the Fort Apache Reservation">
            <option value="Yavapai-Apache Nation of the Camp Verde Indian Reservation">
            <option value="Yavapai-Prescott Indian Tribe ">
            <option
                value="Minnesota Chippewa Tribe (Six component reservations: Bois Forte Band (Nett Lake);Fond du Lac Band; Grand Portage Band; Leech Lake Band; Mille Lacs Ban; White Earth Band)">
            <option value="Southern Ute Indian Tribe of the Southern Ute Reservation">
            <option value="Ute Mountain Tribe of the Ute Mountain Reservation (Colorado, New Mexico and Utah)">
            <option value="Connecticut">
            <option value="Mashantucket Pequot Tribe ">
            <option value="Mohegan Tribe of Indians of Connecticut">
            <option value="Miccosukee Tribe of Indians of Florida">
            <option value="Seminole Tribe of Florida (Dania, Big Cypress, Brighton, Hollywood and Tampa Reservations)">
            <option value="Coeur D’Alene Tribe">
            <option value="Kootenai Tribe of Idaho">
            <option value="Nez Perce Tribe">
            <option value="Shoshone-Bannock Tribes of the Fort Hall Reservation of Idaho">
            <option value="Pokagon Band of Potawatomi Indians (Michigan and Indiana)">
            <option value="Iowa">
            <option value="Sac & Fox Tribe of the Mississippi in Iowa">
            <option value="Iowa Tribe  of Kansas and Nebraska">
            <option value="Kickapoo Tribe of Indians of the Kickapoo Reservation in Kansas">
            <option value="Prairie Band Potawatomi Nation">
            <option value="Sac & Fox Nation of Missouri (Kansas and Nebraska)">
            <option value="Chitimacha Tribe of Louisiana">
            <option value="Coushatta Tribe of Louisiana">
            <option value="Jena Band of Choctaw Indians">
            <option value="Tunica-Biloxi Indian Tribe of Louisiana">
            <option value="Aroostook Band of Micmac Indians">
            <option value="Houlton Band of Maliseet Indians">
            <option value="Passamaquoddy Tribe ">
            <option value="Penobscot Nation">
            <option value="Mashpee Wampanoag Tribe">
            <option value="Wampanoag Tribe of Gay Head (Aquinnah) of Massachusetts">
            <option value="Bay Mills Indian Community">
            <option value="Grand Traverse Band of Ottawa and Chippewa Indians">
            <option value="Hannahville Indian Community">
            <option value="Nottawaseppi Huron Band of the Potawatomi">
            <option value="Keweenaw Bay Indian Community">
            <option value="Lac Vieux Desert Band of Lake Superior Chippewa Indians of Michigan">
            <option value="Little River Band of Ottawa Indians">
            <option value="Little Traverse Bay Bands of Odawa Indians">
            <option value="Match-e-be-nash-she-wish Band of Pottawatomi Indians of Michigan">
            <option value="Pokagon Band of Potawatomi Indians (Michigan and Indiana)">
            <option value="Saginaw Chippewa Indian Tribe of Michigan">
            <option value="Sault Ste. Marie Tribe of Chippewa Indians of Michigan">
            <option value="Lower Sioux Indian Community in the State of Minnesota">
            <option value="Mdewakanton Sioux Indians">
            <option value="Prairie Island Indian Community in the State of Minnesota">
            <option value="Mdewakanton Sioux Indians">
            <option value="Red Lake Band of Chippewa Indians">
            <option value="Shakopee Mdewakanton Sioux Community of Minnesota">
            <option value="Upper Sioux Community">
            <option value="Mississippi Band of Choctaw Indians">
            <option value="Assiniboine and Sioux Tribes of the Fort Peck Indian Reservation">
            <option value="Blackfeet Tribe of the Blackfeet Indian Reservation of Montana">
            <option value="Chippewa-Cree Indians of the Rocky Boy's Reservation">
            <option value="Confederated Salish and Kootenai Tribes of the Flathead Reservation">
            <option value="Crow Tribe of Montana">
            <option value="Fort Belknap Indian Community of the Fort Belknap Reservation of Montana">
            <option value="Little Shell">
            <option value="Northern Cheyenne Tribe of the Northern Cheyenne Indian Reservation">
            <option value="Iowa Tribe of Kansas and Nebraska">
            <option value="Omaha Tribe of Nebraska">
            <option value="Ponca Tribe of Nebraska">
            <option value="Sac & Fox Nation of Missouri">
            <option value="Santee Sioux Nation">
            <option value="Winnebago Tribe of Nebraska">
            <option value="Confederated Tribes of the Goshute Reservation (Nevada and Utah)">
            <option value="Duckwater Shoshone Tribe of the Duckwater Reservation">
            <option value="Ely Shoshone Tribe of Nevada">
            <option value="Fort McDermitt Paiute and Shoshone Tribes of the Fort McDermitt Indian Reservation ">
            <option value="Fort Mojave Indian Tribe">
            <option value="Las Vegas Tribe of Paiute Indians of the Las Vegas Indian Colony">
            <option value="Lovelock Paiute Tribe of the Lovelock Indian Colony">
            <option value="Moapa Band of Paiute Indians of the Moapa River Indian Reservation">
            <option value="Paiute-Shoshone Tribe of the Fallon Reservation and Colony">
            <option value="Pyramid Lake Paiute Tribe of the Pyramid Lake Reservation">
            <option value="Reno-Sparks Indian Colony">
            <option value="Shoshone-Paiute Tribes of the Duck Valley Reservation">
            <option value="Summit Lake Paiute Tribe of Nevada">
            <option value="Te-Moak Tribe of Western Shoshone Indians of Nevada">
            <option value="Walker River Paiute Tribe of the Walker River Reservation">
            <option value="Washoe Tribe">
            <option value="Winnemucca Indian Colony of Nevada">
            <option value="Yerington Paiute Tribe of the Yerington Colony & Campbell Ranch">
            <option value="Yomba Shoshone Tribe of the Yomba Reservation">
            <option value="Jicarilla Apache Nation">
            <option value="Mescalero Apache Tribe of the Mescalero Reservation">
            <option value="Navajo Nation (Arizona, New Mexico and Utah)">
            <option value="Ohkay Owingeh (formerly the Pueblo of San Juan)">
            <option value="Pueblo of Acoma">
            <option value="Pueblo of Cochiti">
            <option value="Pueblo of Jemez">
            <option value="Pueblo of Isleta">
            <option value="Pueblo of Laguna">
            <option value="Pueblo of Nambe">
            <option value="Pueblo of Picuris">
            <option value="Pueblo of Pojoaque">
            <option value="Pueblo of San Felipe">
            <option value="Pueblo of San Ildefonso">
            <option value="Pueblo of Sandia">
            <option value="Pueblo of Santa Ana">
            <option value="Pueblo of Santa Clara">
            <option value="Kewa Pueblo">
            <option value="Pueblo of Taos">
            <option value="Pueblo of Tesuque">
            <option value="Pueblo of Zia">
            <option value="Ute Mountain Tribe of the Ute Mountain Reservation (Colorado, New Mexico and Utah)">
            <option value="Zuni Tribe of the Zuni Reservation">
            <option value="Cayuga Nation">
            <option value="Oneida Nation of New York">
            <option value="Onondaga Nation ">
            <option value="Saint Regis Mohawk Tribe (formerly the St. Regis Band of Mohawk Indians of New York)">
            <option value="Seneca Nation of Indians">
            <option value="Shinnecock Indian Nation">
            <option value="Tonawanda Band of Seneca ">
            <option value="Tuscarora Nation of New York">
            <option value="Eastern Band of Cherokee Indians ">
            <option value="Spirit Lake Tribe">
            <option value="Standing Rock Sioux Tribe (North Dakota and South Dakota)">
            <option value="Three Affiliated Tribes of the Fort Berthold Reservation">
            <option value="Turtle Mountain Band of Chippewa Indians of North Dakota">
            <option value="Absentee-Shawnee Tribe of Indians">
            <option value="Alabama-Quassarte Tribal Town">
            <option value="Apache Tribe of Oklahoma">
            <option value="Caddo Nation of Oklahoma">
            <option value="Cherokee Nation">
            <option value="Cheyenne and Arapaho Tribes">
            <option value="Citizen Potawatomi Nation">
            <option value="Comanche Nation">
            <option value="Delaware Nation">
            <option value="Delaware Tribe of Indians">
            <option value="Eastern Shawnee Tribe of Oklahoma">
            <option value="Fort Sill Apache Tribe of Oklahoma">
            <option value="Iowa Tribe of Oklahoma">
            <option value="Kaw Nation">
            <option value="Kialegee Tribal Town">
            <option value="Kickapoo Tribe of Oklahoma">
            <option value="Kiowa Indian Tribe of Oklahoma">
            <option value="Miami Tribe of Oklahoma">
            <option value="Modoc Tribe of Oklahoma">
            <option value="Muscogee (Creek) Nation">
            <option value="Ottawa Tribe of Oklahoma">
            <option value="Otoe-Missouria Tribe of Indians">
            <option value="Pawnee Nation of Oklahoma">
            <option value="Peoria Tribe of Indians of Oklahoma">
            <option value="Ponca Tribe of Indians of Oklahoma">
            <option value="Quapaw Tribe of Indians">
            <option value="Sac & Fox Nation">
            <option value="Seminole Nation of Oklahoma">
            <option value="Seneca-Cayuga Nation">
            <option value="Shawnee Tribe">
            <option value="The Chickasaw Nation">
            <option value="The Choctaw Nation of Oklahoma">
            <option value="The Osage Nation">
            <option value="Thlopthlocco Tribal Town">
            <option value="Tonkawa Tribe of Indians of Oklahoma">
            <option value="United Keetoowah Band of Cherokee Indians in Oklahoma">
            <option value="Wichita and Affiliated Tribes (Wichita, Keechi, Waco and Tawakonie)">
            <option value="Wyandotte Nation">
            <option value="Burns Paiute Tribe">
            <option value="Confederated Tribes of the Coos, Lower Umpqua and Siuslaw Indians of Oregon">
            <option value="Confederated Tribes of the Grand Ronde Community of Oregon">
            <option value="Confederated Tribes of the Siletz Reservation">
            <option value="Confederated Tribes of the Umatilla Indian Reservation">
            <option value="Confederated Tribes of the Warm Springs Reservation of Oregon">
            <option value="Coquille Indian Tribe">
            <option value="Cow Creek Band of Umpqua Tribe of Indians">
            <option
                value="Fort McDermitt Paiute and Shoshone Tribes of the Fort McDermitt Indian Reservation (Nevada and Oregon)">
            <option value="Klamath Tribes ">
            <option value="Narragansett Indian Tribe ">
            <option value="Catawba Indian Nation (Catawba Tribe of South Carolina)">
            <option value="Cheyenne River Sioux Tribe of the Cheyenne River Reservation">
            <option value="Crow Creek Sioux Tribe of the Crow Creek Reservation">
            <option value="Flandreau Santee Sioux Tribe of South Dakota">
            <option value="Lower Brule Sioux Tribe of the Lower Brule Reservation">
            <option value="Oglala Sioux Tribe (Lakota)">
            <option value="Rosebud Sioux Tribe (Lakota)">
            <option value="Sisseton-Wahpeton Oyate of the Lake Traverse Reservation">
            <option value="Standing Rock Sioux Tribe">
            <option value="Yankton Sioux Tribe of South Dakota">
            <option value="Alabama-Coushatta Tribe of Texas">
            <option value="Kickapoo Traditional Tribe of Texas">
            <option value="Ysleta Del Sur Pueblo ">
            <option value="Confederated Tribes of the Goshute Reservation (Nevada and Utah)">
            <option value="Navajo Nation (Arizona, New Mexico and Utah)">
            <option value="Northwestern Band of Shoshoni Nation ">
            <option
                value="Paiute Indian Tribe of Utah">
            <option value="Skull Valley Band of Goshute Indians of Utah">
            <option value="Ute Indian Tribe of the Uintah and Ouray Reservation">
            <option value="Ute Mountain Ute Tribe (Colorado, New Mexico and Utah)">
            <option value="Pamunkey Indian Tribe">
            <option value="Chickahominy Indian Tribe">
            <option value="Chickahominy Indian Tribe-Eastern Division">
            <option value="Upper Mattaponi Tribe">
            <option value="Rappahannock Tribe, Inc.">
            <option value="Monacan Indian Nation">
            <option value="Nansemond Indian Tribe">
            <option value="Confederated Tribes of the Chehalis Reservation">
            <option value="Confederated Tribes of the Colville Reservation">
            <option value="Confederated Tribes and Bands of the Yakama Nation">
            <option value="Cowlitz Indian Tribe">
            <option value="Hoh Indian Tribe ">
            <option value="Jamestown S’Klallam Tribe">
            <option value="Kalispel Indian Community of the Kalispel Reservation">
            <option value="Lower Elwha Tribal Community">
            <option value="Lummi Tribe of the Lummi Reservation">
            <option value="Makah Indian Tribe of the Makah Indian Reservation">
            <option value="Muckleshoot Indian Tribe">
            <option value="Nisqually Indian Tribe ">
            <option value="Nooksack Indian Tribe of Washington">
            <option value="Port Gamble S'Klallam Tribe ">
            <option value="Puyallup Tribe of the Puyallup Reservation">
            <option value="Quileute Tribe of the Quileute Reservation">
            <option value="Quinault Indian Nation">
            <option value="Samish Indian Nation">
            <option value="Sauk-Suiattle Indian Tribe of Washington">
            <option value="Shoalwater Bay IndianTribe of the Shoalwater Bay Indian Reservation">
            <option value="Skokomish Indian Tribe ">
            <option value="Snoqualmie Indian Tribe">
            <option value="Spokane Tribe of the Spokane Reservation">
            <option value="Squaxin Island Tribe of the Squaxin Island Reservation">
            <option value="Stillaguamish Tribe of Indians of Washington">
            <option value="Suquamish Indian Tribe of the Port Madison Reservation">
            <option value="Swinomish Indian Tribal Community">
            <option value="Tulalip Tribes of Washington">
            <option value="Upper Skagit Indian Tribe of Washington">
            <option value="Bad River Band of the Lake Superior Tribe of Chippewa Indians of the Bad River Reservation">
            <option value="Forest County Potawatomi Community">
            <option value="Ho-Chunk Nation of Wisconsin">
            <option value="Lac Courte Oreilles Band of Lake Superior Chippewa Indians of Wisconsin">
            <option value="Lac du Flambeau Band of Lake Superior Chippewa Indians">
            <option value="Menominee Indian Tribe of Wisconsin">
            <option value="Oneida Tribe of Indians of Wisconsin">
            <option value="Red Cliff Band of Lake Superior Chippewa Indians of Wisconsin">
            <option value="St. Croix Chippewa Indians of Wisconsin">
            <option value="Sokaogon Chippewa Community">
            <option value="Stockbridge Munsee Community">
            <option value="Arapaho Tribe of the Wind River Reservation">
            <option value="Shoshone Tribe of the Wind River Reservation">
            <option value="Cher-O-Creek Intra Tribal Indians">
            <option value="Cherokee Tribe of Northeast Alabama">
            <option value="Cherokees of Southeast Alabama">
            <option value="Echota Cherokee Tribe of Alabama">
            <option value="Ma-Chis Lower Creek Indian Tribe of Alabama">
            <option value="Mowa Band of Choctaw Indians">
            <option value="Piqua Shawnee Tribe">
            <option value="Southeastern Mvskoke Nation">
            <option value="United Cherokee Ani-Yun-Wiya Nation">
            <option value="Eastern Pequot Tribal Nation">
            <option value="The Golden Hill Paugussett">
            <option value="Schaghticoke Tribal Nation">
            <option value="Lenape Indian Tribe of Delaware">
            <option value="Nanticoke Indian Tribe ">
            <option value="Cherokee of Georgia Tribal Council">
            <option value="Georgia Tribe of Eastern Cherokee">
            <option value="Lower Muskogee Creek Tribe">
            <option value="Addai Caddo Tribe">
            <option value="Biloxi-Chitimacha Confederation of Muskogee">
            <option value="Choctaw-Apache Community of Ebarb">
            <option value="Clifton Choctaw">
            <option value="Four Winds Tribe Louisiana Cherokee Confederacy">
            <option value="Grand Caillou/Dulac Band">
            <option value="Isle de Jean Charles Band">
            <option value="Louisiana Choctaw Tribe">
            <option value="Natchitoches Tribe of Louisiana">
            <option value="Pointe-Au-Chien Indian Tribe">
            <option value="United Houma Nation">
            <option value="Piscataway Indian Nation">
            <option value="Piscataway Conoy Tribe">
            <option value="Nipmuc Nation">
            <option value="Nanticoke Lenni-Lenape Tribal Nation">
            <option value="​Ramapough Lenape Nation ">
            <option value="The Powhatan Renape Nation ">
            <option value="Tonawada Band of Seneca">
            <option value="Tuscarora Nation">
            <option value="Unkechaug Nation">
            <option value="Cohaire Intra-Tribal Council, Inc.">
            <option value="Haliwa-Saponi Indian Tribe">
            <option value="Lumbee Tribe">
            <option value="Meherrin Nation">
            <option value="Occaneechi Band of teh Saponi Nation">
            <option value="Sappony">
            <option value="Waccamaw-Siouan Tribe">
            <option value="Beaver Creek Indians">
            <option value="Edisto Natchez Kusso Tribe of South Carolina">
            <option value="Pee Dee Indian Nation of Upper South Carolina">
            <option value="Pee Dee Indian Tribe of South Carolina">
            <option value="Santee Indian Organization">
            <option value="The Waccamaw Indian People">
            <option value="Wassamasaw Tribe of Varnertown Indians">
            <option value="Elnu Abenaki Tribe">
            <option value="Nulhegan Band of the Coosuk Abenaki Nation">
            <option value="Koasek Abenaki Tribe">
            <option value="Mississquoi Abenaki Tribe">
            <option value="Cheroenhaka (Nottoway)">
            <option value="Chickahominy Tribe">
            <option value="Eastern Chickahominy Tribe">
            <option value="Mattaponi">
            <option value="Monacan Nation">
            <option value="Nansemond">
            <option value="Nottoway of Virginia">
            <option value="Pamunkey">
            <option value="Pattawomeck">
            <option value="Rappahannock">
            <option value="Upper Mattaponi Tribe">
        </datalist>
    <input class="btn blue darken-1 marginBottom" type="submit">
    </form>
</div>