p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.marginBottom {
    margin: 5% 15%;
}

input::placeholder{
    color: black;
}

.background {
    background: url("/images/devilstower.jpg")center;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.background-tipi {
    background: url("/images/tipi.webp")center;
    background-repeat: no-repeat;
    background-position-y: calc(-250px);
    background-size: cover;
}

