p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.marginBottom {
    margin: 5% 15%;
}

input::placeholder {
    color: black;
}

.background {
    background: url("/images/devilstower.jpg")center;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.background-tipi {
    background: url("/images/tipi.webp")center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#map {
    position: fixed;
    width: 100%;
    margin-top: 4%;
    height: 100%;
    top: 0;
    bottom: 0;
}

label {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    margin-top: 4%;
    padding: 1%;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}


h1 {
    font-size: 2.5rem;
    line-height: 80% !important;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}

input[type=text]:not(.browser-default) {
    color: black;
    background-color: #fff;
}

.head {
    margin: 5% 5%;
    color: white;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}



.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(/images/tomahawk.png);
    background-position: center;
}

/* Marker tweaks */
.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 200%;
}

.mapboxgl-popup-content h3 {
    background: #e23b3b;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-popup-content .scroll{
    height:200px;
    overflow:scroll;
    overflow-x:hidden;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}

#body {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.transBlack {
    background-color: #8d8b8bab;
}

.title {
    font-size: 1.2rem;
}

/* form pop up styling */

  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    width: 50%;
    transform: translate(-50%, 5%);

    z-index: 9;
  }
  .formContainer {
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: rgb(199, 196, 196);
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #2f8897;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }
  .hover{
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    position:relative;
    left: 50%;
    top: 10%;
    width: 65%;
    transform: translate(-50%, 5%);

    z-index: 9;
  }
  .spacing {
    width: 40%;
  }
  .coords {
    margin: 1% 0 0 10%;

    width: 20%;
    height: 40% !important;
    color: #ddd;
    background-color: #2f8897;
  }

  .mapInstructions {
    width: 60%;
    font-size: 2rem ;
    line-height: 100%;
    color: #fff;
  }


/* 
media querys 
*/

@media screen and (max-width: 1450px) {

    .sidebar,
    #map {
        margin-top: 7%;
    }
}

@media screen and (max-width: 1218px) {
    .mapboxgl-popup-content {
        width: 200px;
    }
}

@media screen and (max-width: 1000px) {


    #map{
        margin-top: 15%;
    }

    .head {
        margin: 15% 0;
    }

    .mediaFix {
        font-size: 2rem;
    }
    .formPopup{
        width: 70%;
    }

}


@media screen and (max-width: 483px) {
    .brand-logo {
        font-size: 1.6rem !important;
    }
}

@media screen and (max-width: 369px) {
    .brand-logo {
        font-size: 1.2rem !important;
    }
}